<%= form_for(@task, html: { class: "well" }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa zadania:" %>
    <%= f.text_field :name, class: "span4" %>
  </div>
  <div class="field">
    <%= f.fields_for :task_dates do |date| %>
      <%= render 'form_dates', :f => date %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit @update_button_text, class: "btn btn-info" %>
  </div>
<% end %>
