<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>

<div class="well">
<p>
  <b>Nazwa zadania:</b>
  <%= @task.name %>
</p>

<p>
  <b>Czy wykonano?:</b>
  <%= @task.done ? "TAK" : "NIE" %>
</p>

<p>
  <b>Data:</b>
  <%= @task.date %>
</p>

<p>
	<b>Dni pozostało:</b>
	<%= date_diff(@task.date) %>
</p>
</div>
<br /><br />

<%= link_to 'Edytuj', edit_task_path(@task) %> |
<%= link_to 'Powrót', tasks_path %>
