<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Done:</b>
  <%= @task.done %>
</p>

<p>
  <b>Date:</b>
  <%= @task.date %>
</p>


<%= link_to 'Edytuj', edit_task_path(@task) %> |
<%= link_to 'Powrót', tasks_path %>
