<div class="well">
<p>
  <b>Nazwa zadania:</b>
  <%= @task.name %>
</p>

<p>
  <b>Czy wykonano?:</b>
  <%= @task.done ? "TAK" : "NIE" %>
</p>

<p>
  <b>Daty:</b><br />
  <% @task.task_dates.each do |date| %>
    <%= date.date %><br />
  <% end %>
</p>

<p>
  <b>Dni pozostało:</b>
  <%#date_diff(@task.date) %>
</p>
</div>
<br /><br />

<%= link_to 'Edytuj', edit_task_path(@task) %> |
<%= link_to 'Powrót', tasks_path %>
